

<div class="frequently_section layout_padding">
    <div class="container">
    <h1 class="frequently_taital">Frequently Asked Questions</h1>
    <p class="frequently_text">It is a long established fact that a reader will beIt is a long established fact
        that a reader will be </p>
    <div class="frequently_section_2 layout_padding">
        <div class="bs-example">
            <div class="accordion" id="accordionExample">
                {% for question in questions %}
                    {% if forloop.first %}

                        <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed w-100" data-toggle="collapse"
                                    data-target="#collapseTwo"><i class="fa fa-plus"></i>{{question.question}}</button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{question.answer}}<a
                                    href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/"
                                    target="_blank">Learn more.</a></p>
                            </div>
                        </div>
                        </div>

                    {% else %}
                        <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-link collapsed w-100" data-toggle="collapse"
                                    data-target="#collapseThree"><i class="fa fa-plus"></i>{{question.question}}</button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{question.answer}}<a
                                    href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a>
                                </p>
                            </div>
                        </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>